.contenedor_tarjeta{
    width: 100%;
	min-height: 100dvh;

    box-sizing: border-box;
    padding-top: 5%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: top;
    align-items: center;
    gap: 5rem;
    background: linear-gradient(180deg,rgb(231, 235, 237), rgb(155, 173, 252, 0.349),rgb(81, 120, 236, 0.449),rgba(16, 53, 164, 0.649));
}
.contenedor{
	width: 90%;
	min-height: 90dvh;
	padding-top: 2rem;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}
.contenedor_redesiframe{
	width: 100%;
	padding: .7rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 2rem;

	box-shadow: 10px 10px 5px 2px rgba(0, 0, 0, 0.578);
	border-radius: 15px;
	border: 2px solid rgba(0, 0, 0, 0.2);
}
.iframe{
	width: 60%;
	border-radius: 13px;
}
.contenedor_titulo{
	width: 100%;
	padding: 1rem 2rem;
	border: 2px solid rgba(0, 0, 0, 0.2);
	border-radius: 20px;
    background-color: rgba(6, 3, 63, 0.55);
    box-shadow: 5px 5px 10px 5px rgba(6, 3, 63, 0.791);
	
}
.titulo_h2{
	margin-bottom: 1.5rem;
	font-size: 40px;
	font-weight: 600;
	color: white;

}
.titulo_p{
	text-align: justify;
	font-size: 20px;
	font-weight: 400;
	color: white;
}
.contenedor_subtitulo{
	width: 90%;	
	border-top: 3px solid rgba(44, 44, 44, 0.511);
	border-radius: 20px;
    background-color: rgba(6, 3, 63, 0.55);
    box-shadow: 5px 5px 10px 5px rgba(6, 3, 63, 0.791);
	text-align: left;
	padding: 2rem 2rem;
}
.titulo_h3{
	font-size: 35px;
	font-weight: 600;
	color: white;
	
}
.contenedor_subtitulo>p{
	font-size: 20px;
	font-weight: 400;
	color: white;
}
/*Contenedor de las Tarjetas*/
.tarjeta_spy,.tarjeta_tro,.tarjeta_bot,.tarjeta_ran,.tarjeta_gus,.tarjeta_adw,.tarjeta_roo{
    width: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}
.tarjeta_ran,.tarjeta_gus,.tarjeta_adw,.tarjeta_roo{
    flex-direction: row-reverse;
}

/*Tarjetas de color*/
/*Izquierda*/
.spy,.tro,.bot{
    width: 50%;
	height: 16rem;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: left;

    text-align: justify;
    border-top-right-radius: 35%;
    border-bottom-left-radius: 30%;
    padding: 0rem 2rem 2rem 2rem;
}

/*Derecha*/
.ran,.gus,.adw,.roo{
    width: 50%;
	height: 16rem;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: right;
    text-align: right;
    border-top-left-radius: 35%;
    border-bottom-right-radius: 30%;
    padding: 0rem 2rem 2rem 2rem;
}

/*Contenido de las tarjetas + Imagen*/
.imagen{
    width: 30%;
    height: 16rem;
    border-radius: 15px;
}

.tarjeta_titulo{
	font-size: 1.4rem;
}
.tarjeta_texto{
	font-size: 1.1rem;
}

@keyframes tarjeta_izquierda {
	0% {
		animation-timing-function: ease-out;
		opacity: 0;
		transform: translateX(-50px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes tarjeta_derecha {
	0% {
		animation-timing-function: ease-out;
		opacity: 0;
		transform: translateX(30px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateX(0px);
	}
}

@media (min-width: 360px) and (max-width: 767px){
    /*Contenedor Principal*/
	.contenedor_tarjeta{
		padding-top: 5vh;
		gap: 3rem;
	}
	
	/*Contenedor del H1 y Video*/
	.contenedor{
		width: 100%;
		display: flex;
		justify-content: center;
		flex-flow: column nowrap;
	}
	.contenedor_titulo{
		width: 90%;
		padding: 1rem;
		margin-bottom: 2rem;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;		
	}
	.titulo_h2{
		margin-bottom: 1rem;
		font-size: 25px;
		font-weight: 500;	
	}
	.titulo_p{
		text-align: left;
		font-size: 16px;
		font-weight: 400;
	}
	.contenedor_redesiframe{
		width: 90%;
		padding: .5rem 0;
		flex-flow: column wrap;
		justify-content: center;
	}
	.iframe{
		width: 90%;
		margin-bottom: 2rem;
	}

	/*Contenedor del H3 tipos de malewawre*/
	.contenedor_subtitulo{
		height: 8rem;	
		padding: 1rem 0 0 1rem;
	}
	.titulo_h3{
		font-size: 20px;
		font-weight: 500;
	}
	.contenedor_subtitulo>p{
		font-size: 16px;
		font-weight: 400;
	}

	/*Contenedor de las Tarjetas*/
	.tarjeta_spy,.tarjeta_tro,.tarjeta_bot,.tarjeta_ran,.tarjeta_gus,.tarjeta_adw,.tarjeta_roo{
		width: 100%;
		padding: 1rem 0;
		gap: 1rem;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
	}

	/*Tarjetas de color*/
	/*Izquierda*/
	/*Derecha*/
	.ran,.gus,.adw,.roo,.spy,.tro,.bot{
		width: 90%;
		height: auto;
		align-items: left;
		text-align: left;
		border-radius: 15px;
		padding:.5rem 1rem;
	}

	/*Contenido de las tarjetas + Imagen*/
	.imagen{
		width: 90%;
		height: 12rem;
	}
	
	.tarjeta_titulo{
		font-size: 1.5rem;
	}
	.tarjeta_texto{
		margin-top: .4rem;
		font-size: 16px;
		font-weight: 400;
	}
}

@media (min-width: 768px) and (max-width: 1024px){

}