.contenedor_denuncia{
    width: 100%;
    box-sizing: border-box;
    padding: 3rem 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: top;
    align-items: center;
    gap: 3rem;
    background: linear-gradient(180deg,rgb(231, 235, 237), rgb(155, 173, 252, 0.349),rgb(81, 120, 236, 0.449),rgba(16, 53, 164, 0.649));
}

.denuncia_titulo{
    width: 90%;
    padding: 1.5rem 2rem;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.324);
}
.titulod_h2{
    margin-bottom: 1rem;
	font-size: 30px;
	font-weight: 600;
	color: white;
}
.titulod_p{
    text-align: justify;
	font-size: 18px;
	font-weight: 400;
	color: white;
}

.denuncia_btntarjeta{
    width: 90%;
    height: 30rem;
    display: flex;
    justify-content: space-around;
    align-items: top;
}

.contenedor_botones{
    width: 50%;
    padding: .5rem 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: top;
    align-items: center;
    gap: 2rem;
}

.botones{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: left;
    gap: .9rem;
}
.boton{
    width: 70%;
    font-size: 16px;
    font-weight: 600;
    padding: .6rem 1rem;
    border-radius: 15px;
    border: none;
    box-shadow: 3px 3px 2px 3px rgba(0, 0, 0, 0.66);
    text-align: left;
}

.tarjetas{
    width: 100%;
    
    display: flex;
    justify-content: left;
    align-items: center;
    
}
.tarjeta{
    width: 90%;
    padding: 1rem 1.5rem;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: left;
}
.tarjeta>h3{
    margin-bottom: 1rem;
	font-size: 22px;
	font-weight: 600;
    color:white;
}
.tarjeta>p{
    text-align: justify;
	font-size: 16px;
	font-weight: 600;
	color:white;
}
.contenedor_mapa{
    width: 40%;
    height: 90%;
}

@media (min-width: 360px) and (max-width: 767px){
    /*Contenedor Principal*/
    .contenedor_denuncia{
        width: 100%;
        padding: 2rem 0;
        gap: 2rem;
    }
    /*Contenedor del Titulo + h2 + p*/
    .denuncia_titulo{
        width: 90%;
        padding: .6rem;
    }
    .titulod_h2{
        margin-bottom: 1rem;
        font-size:22px;
    }
    .titulod_p{
        text-align: left;
        font-size: 18px;
        font-weight: 500;
    }
    
    /*Contenedor botones y tarjetas*/
    .denuncia_btntarjeta{
        height: auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: top;
        align-items: center;
        gap:1rem;
    }
    .contenedor_botones{
        width: 100%;
        padding:0;
        gap: 1.5rem;
    }
    .botones{
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 1rem;
    }
    .boton{
        width: 100%;
        height: 2rem;
        font-size: 14px;
        text-align: left;
        padding: 0 0 0 1rem;
    }
    .tarjetas{
        justify-content: center;
    }
    .tarjeta{
        width: 100%;
        padding: 1rem .5rem;
        text-align: left;
    }
    .tarjeta>h3{
        margin-bottom: 1rem;
        font-size: 18px;
    }
    .tarjeta>p{
        text-align: left;
        font-size: 16px;
        font-weight: 600;
    }

    .contenedor_mapa{
        width: 99%;
        height: 15rem;
    }

}
@media (min-width: 768px) and (max-width: 1024px){
    
}