.prevenir{
    width: 100%;
    height: auto;
    padding: 5rem 0 3rem 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: top;
    align-items: center;
    gap: 2rem;
    background: linear-gradient(180deg,rgb(231, 235, 237), rgb(155, 173, 252, 0.349),rgb(81, 120, 236, 0.449),rgba(16, 53, 164, 0.649));

}

.contenedor_estafa{
    width: 90%;
    padding: 2rem 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: top;
    align-items: center;
    gap: 1rem;
}
.estafa_titulo{
    display: flex;
    flex-flow: column nowrap;
    justify-content: top;
    align-items: left;
    gap: 1.5rem;
    margin-bottom: 1rem;
}
.estafa_h2{
    font-size: 40px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;;
    text-align: left;
}
.estafa_ul{
    width: 80%;
    text-align: justify;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: left;
    padding: 1.5rem 2rem 1rem 2rem;
    border-radius: 20px;
    background-color: rgba(6, 3, 63, 0.55);
    box-shadow: 5px 5px 10px 5px rgba(6, 3, 63, 0.791);
}
.estafa_ul>li,.p1{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding: .5rem 0;
    color: white;
}
.contenedor_video{
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: top;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    padding: 2rem 0;
}
.estafa_p_video{
    width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 20px;
    background-color: rgba(6, 3, 63, 0.55);
    box-shadow: 5px 5px 10px 5px rgba(6, 3, 63, 0.791);
}
.p_video{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.contenedor_grooming{
    width: 90%;
    padding: 2rem 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: top;
    align-items: center;
    gap: 1rem;
}
.grooming_texto1{
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: top;
    align-items: left;
    gap: 1.5rem;
    padding: 2rem 1rem;
    margin-bottom: 1rem;
    border-radius: 20px;
    background-color: rgba(6, 3, 63, 0.55);
    box-shadow: 5px 5px 10px 5px rgba(6, 3, 63, 0.791);

}
.grooming_h2{
    width: 80%;
    margin: 1rem 0;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;;
    text-align: left;
}
.grooming_p1{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding: 0rem 1rem;
    color: white;
    text-align: left;
}
.grooming_ul{
    width: 100%;
    text-align: justify;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: left;
    gap: 1.5rem;
    padding: 1.5rem 2rem 1rem 2rem;
}
.grooming_ul>li{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;;
    color: white;
}
.grooming_video{
    width: 75%;
    height: 25rem;
    margin: 2rem 0;
    border: 3px solid rgba(6, 3, 63, 0.85);
}

.contenedor_btn{
    width: 90%;
    height: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn{
    width: 30%;
    height: 60%;
    padding: .5rem 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem ;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    border-radius: 15px;
    border: 3px solid rgba(6, 3, 63, 0.85);
}
.btn>img{
    width: 20%;
}

@media (min-width: 360px) and (max-width: 767px){
    .estafa_titulo{
        width: 100%;
        align-items: center;
        padding:0;
        gap: 1rem;
        margin-bottom: 0;
    }
    .estafa_h2,.grooming_h2{
        width: 100%;
        font-size: 25px;
        font-weight: 500;
        text-align: center;
    }
    .estafa_ul{
        width: 100%;
        text-align: left;
        justify-content: top;
        align-items: center;
        padding: 1rem 1rem 1rem 2rem;
        border-radius: 15px;
    }
    .estafa_ul>li,.p1{
        font-size: 16px;
        font-weight: 400;
        padding: .5rem;
    }
    .contenedor_video{
        width: 100%;
        gap: 1rem;
        padding: 0;
    }
    .estafa_p_video{
        width: 100%;
        border-radius: 15px;
    }
    .p_video{
        font-size: 16px;
        text-align: left;
        color: white;
    }
    .grooming_video{
        width: 100%;
        height: 13rem;
        margin: 1rem 0 0 0;
    }
    .grooming_texto1{
        width: 100%;
        align-items: center;
        gap: 1rem;
        padding: .5rem .5rem;
        margin-bottom: 1rem;
        border-radius: 15px;
    }

    .grooming_p1{
        font-size: 16px;
    }
    .grooming_ul{
        width: 100%;
        text-align: left;
        align-items: center;
        gap: 1rem;
        padding: 1rem 2rem;
    }
    .grooming_ul>li{
        font-size: 16px;
    }

    .contenedor_btn{
    width: 100%;
    height: 10rem;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 1rem;

    }
    .btn{
        width: 80%;
        gap: 1.5rem ;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    
}