*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-gutter: stable;
}
.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  background: url(../public/fondo_ciberseguridad.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}